.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 80vw;
    margin: 0 auto;
    @media (max-width: 1250px) {
        grid-template-columns: 1fr;
    }
}

.grid-item {
    padding: 20px;
    background-color: $color-bg; 
    border-radius: 10px;
    p{
        font-style: oblique;
        font-size: 1.3em;
        font-weight: bold;
    }
    @media (max-width: 1250px) {
        overflow: auto;
        font-size: 0.8em;
        iframe{
            width: 100%;
        }
    }
}


.iframe-wrapper {
  text-align: center;
}
